In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# import statsmodels.api as sm
# import tushare as ts
import QUANTAXIS as QA
import talib as ta
import datetime, time

In [3]:
plt.rcParams['figure.figsize'] = [12, 8]
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'
plt.style.use('ggplot')

拿出台海的分钟级数据

1/5/15/30/60

In [4]:
code = '002366'

In [5]:
start = '2010-03-12'
end = datetime.datetime.today().strftime('%Y-%m-%d')

In [12]:
data_day = QA.QA_fetch_stock_day_adv(code, start, end)
data_1min = QA.QA_fetch_stock_min_adv(code, start, end, frequence='1min')
data_5min = QA.QA_fetch_stock_min_adv(code, start, end, frequence='5min')
data_15min = QA.QA_fetch_stock_min_adv(code, start, end, frequence='15min')
data_30min = QA.QA_fetch_stock_min_adv(code, start, end, frequence='30min')
data_60min = QA.QA_fetch_stock_min_adv(code, start, end, frequence='60min')

In [6]:
data_60min.data.tail()

,,open,high,low,close,volume,amount,type,high_limit,low_limit
datetime,code,,,,,,,,,
2019-01-03 15:00:00,002366,9.68,9.69,9.57,9.59,2206600.0,21215560.0,60min,10.65,8.71
2019-01-04 10:30:00,002366,9.43,9.67,9.43,9.62,3335200.0,31951520.0,60min,10.55,8.63
2019-01-04 11:30:00,002366,9.62,10.03,9.60,10.03,4366900.0,42818888.0,60min,10.58,8.66
2019-01-04 14:00:00,002366,10.02,10.17,10.00,10.12,5052800.0,50898008.0,60min,11.03,9.03
2019-01-04 15:00:00,002366,10.13,10.23,10.04,10.14,3549600.0,36006368.0,60min,11.13,9.11

In [13]:
writer = pd.ExcelWriter('data/data_min.xlsx')
data_day.data.to_excel(writer, 'day')
data_1min.data.to_excel(writer, '1min')
data_5min.data.to_excel(writer, '5min')
data_15min.data.to_excel(writer, '15min')
data_30min.data.to_excel(writer, '30min')
data_60min.data.to_excel(writer, '60min')
writer.save()

In [ ]:
data_day = pd.read_excel('data/data_min.xlsx', 'day')

In [10]:
data_day = pd.read_excel('data/data_min.xlsx', 'day', dtype={'code':'str'})

In [11]:
data_day = data_day.set_index(['date', 'code'])

In [12]:
data_day.head()

                    open   high    low  close  volume       amount
date       code
2010-03-12 002366  25.88  28.08  24.66  27.82  238328  617981824.0
2010-03-15 002366  25.74  26.29  25.04  25.05  114049  290357760.0
2010-03-16 002366  24.62  25.47  23.78  24.45   81049  198979824.0
2010-03-17 002366  24.16  25.26  24.14  24.98   67031  166051168.0
2010-03-18 002366  24.79  25.96  24.51  25.40   69570  175411680.0

In [6]:
data_1min = pd.read_excel('data/data_min.xlsx', '1min', dtype={'code':'str'})
data_1min = data_1min.set_index(['datetime', 'code'])

data_5min = pd.read_excel('data/data_min.xlsx', '5min', dtype={'code':'str'})
data_5min = data_5min.set_index(['datetime', 'code'])

data_15min = pd.read_excel('data/data_min.xlsx', '15min', dtype={'code':'str'})
data_15min = data_15min.set_index(['datetime', 'code'])

data_30min = pd.read_excel('data/data_min.xlsx', '30min', dtype={'code':'str'})
data_30min = data_30min.set_index(['datetime', 'code'])

data_60min = pd.read_excel('data/data_min.xlsx', '60min', dtype={'code':'str'})
data_60min = data_60min.set_index(['datetime', 'code'])

In [8]:
QA.QA_fetch_get_stock_min('tdx', code, '2018-12-01', end).tail()

QUANTAXIS>> Selecting the Best Server IP of TDX

USING DEFAULT STOCK IP
USING DEFAULT FUTURE IP

QUANTAXIS>> === The BEST SERVER ===
 stock_ip 60.191.117.167 future_ip 119.97.185.5

,open,close,high,low,vol,amount,datetime,code,date,date_stamp,time_stamp,type
datetime,,,,,,,,,,,,
2019-01-08 11:07:00,11.01,11.03,11.03,11.01,6600.0,72770.0,2019-01-08 11:07:00,002366,2019-01-08,1.546877e+09,1.546917e+09,1min
2019-01-08 11:08:00,11.03,11.04,11.04,11.02,34700.0,382843.0,2019-01-08 11:08:00,002366,2019-01-08,1.546877e+09,1.546917e+09,1min
2019-01-08 11:09:00,11.04,11.02,11.04,11.02,14700.0,162276.0,2019-01-08 11:09:00,002366,2019-01-08,1.546877e+09,1.546917e+09,1min
2019-01-08 11:10:00,11.02,11.04,11.04,11.02,10800.0,119200.0,2019-01-08 11:10:00,002366,2019-01-08,1.546877e+09,1.546917e+09,1min
2019-01-08 11:11:00,11.03,11.03,11.03,11.03,1900.0,20957.0,2019-01-08 11:11:00,002366,2019-01-08,1.546877e+09,1.546917e+09,1min

1. 把QA里所有的部分看完，然后找到获取分钟数据的部分，添加high_limit, low_limit的部分；
2. 只把怎么获取分钟数据的部分，添加high low limit的部分，存储到mongodb的部分

1. 研究15分钟线的 MA3, MA60的关系， 确定比较有效的信号，找到比较合理退出信号

In [7]:
data_60min.tail()

,,open,high,low,close,volume,amount,type,high_limit,low_limit
datetime,code,,,,,,,,,
2019-01-03 15:00:00,002366,9.68,9.69,9.57,9.59,2206600,21215560,60min,10.65,8.71
2019-01-04 10:30:00,002366,9.43,9.67,9.43,9.62,3335200,31951520,60min,10.55,8.63
2019-01-04 11:30:00,002366,9.62,10.03,9.60,10.03,4366900,42818888,60min,10.58,8.66
2019-01-04 14:00:00,002366,10.02,10.17,10.00,10.12,5052800,50898008,60min,11.03,9.03
2019-01-04 15:00:00,002366,10.13,10.23,10.04,10.14,3549600,36006368,60min,11.13,9.11

缺口法

In [14]:
data_day_qfq = data_day.to_qfq()

In [15]:
data_day_qfq.open.tail()

date        code
2018-12-27  002366    9.93
2018-12-28  002366    9.51
2019-01-02  002366    9.52
2019-01-03  002366    9.48
2019-01-04  002366    9.43
Name: open, dtype: float64

In [16]:
data_day_qfq.close.tail()

date        code
2018-12-27  002366     9.32
2018-12-28  002366     9.38
2019-01-02  002366     9.44
2019-01-03  002366     9.59
2019-01-04  002366    10.14
Name: close, dtype: float64

In [17]:
data_day_qfq.close.shift(1).tail()

date        code
2018-12-27  002366    9.70
2018-12-28  002366    9.32
2019-01-02  002366    9.38
2019-01-03  002366    9.44
2019-01-04  002366    9.59
Name: close, dtype: float64

In [18]:
data_day_qfq.close.shift(-1).tail()

date        code
2018-12-27  002366     9.38
2018-12-28  002366     9.44
2019-01-02  002366     9.59
2019-01-03  002366    10.14
2019-01-04  002366      NaN
Name: close, dtype: float64

避免未来函数??

下面的std也需要做shift

In [19]:
data_day_qfq.close.pct_change().rolling(90).std().tail()

date        code
2018-12-27  002366    0.041871
2018-12-28  002366    0.041867
2019-01-02  002366    0.041757
2019-01-03  002366    0.041679
2019-01-04  002366    0.042085
Name: close, dtype: float64

In [118]:
rolling_std = data_day_qfq.close.pct_change().rolling(90).std().shift(1)

In [20]:
((data_day_qfq.open - data_day_qfq.close.shift(1)) / 
 data_day_qfq.close.shift(1)).tail()

date        code
2018-12-27  002366    0.023711
2018-12-28  002366    0.020386
2019-01-02  002366    0.014925
2019-01-03  002366    0.004237
2019-01-04  002366   -0.016684
dtype: float64

In [22]:
open_pre_close_diff = ((data_day_qfq.open - data_day_qfq.close.shift(1)) / 
 data_day_qfq.close.shift(1))

In [29]:
ind_pos = (open_pre_close_diff.abs() > rolling_std) & (open_pre_close_diff >= 0)
ind_neg = (open_pre_close_diff.abs() > rolling_std) & (open_pre_close_diff < 0)

In [100]:
ind_pos

date        code
2010-03-12  002366    False
2010-03-15  002366    False
2010-03-16  002366    False
2010-03-17  002366    False
2010-03-18  002366    False
2010-03-19  002366    False
2010-03-22  002366    False
2010-03-23  002366    False
2010-03-24  002366    False
2010-03-25  002366    False
2010-03-26  002366    False
2010-03-29  002366    False
2010-03-30  002366    False
2010-03-31  002366    False
2010-04-01  002366    False
2010-04-02  002366    False
2010-04-06  002366    False
2010-04-07  002366    False
2010-04-08  002366    False
2010-04-09  002366    False
2010-04-12  002366    False
2010-04-13  002366    False
2010-04-14  002366    False
2010-04-15  002366    False
2010-04-16  002366    False
2010-04-19  002366    False
2010-04-20  002366    False
2010-04-21  002366    False
2010-04-22  002366    False
2010-04-23  002366    False
                      ...
2018-11-22  002366    False
2018-11-23  002366    False
2018-11-26  002366    False
2018-11-27  002366    False
2018-11-28  002366    False
2018-11-29  002366    False
2018-11-30  002366    False
2018-12-03  002366    False
2018-12-04  002366    False
2018-12-05  002366    False
2018-12-06  002366    False
2018-12-07  002366    False
2018-12-10  002366    False
2018-12-11  002366    False
2018-12-12  002366    False
2018-12-13  002366    False
2018-12-14  002366    False
2018-12-17  002366    False
2018-12-18  002366    False
2018-12-19  002366    False
2018-12-20  002366    False
2018-12-21  002366    False
2018-12-24  002366    False
2018-12-25  002366    False
2018-12-26  002366    False
2018-12-27  002366    False
2018-12-28  002366    False
2019-01-02  002366    False
2019-01-03  002366    False
2019-01-04  002366    False
Length: 1936, dtype: bool

In [31]:
data_day_qfq.data[ind_pos]

,,open,high,low,close,volume,amount,preclose,adj
date,code,,,,,,,,
2011-06-03,002366,5.841070,6.108969,5.709317,5.871813,48285.639114,2.867434e+07,5.652223,0.439178
2011-07-01,002366,6.271465,6.363692,6.104577,6.130928,59269.790915,3.700164e+07,6.073834,0.439178
2011-10-11,002366,5.430972,5.435517,5.249182,5.290085,12539.753240,6.703428e+06,5.285540,0.454475
2011-12-01,002366,5.399159,5.490054,5.326443,5.390069,29781.638903,1.617024e+07,5.271906,0.454475
2012-10-26,002366,3.849433,3.872962,3.694138,3.708255,27369.852275,1.033033e+07,3.764726,0.470591
2014-06-23,002366,5.424730,5.424730,5.424730,5.424730,3848.110485,2.087958e+06,5.055198,0.492709
2014-06-24,002366,5.966710,5.966710,5.966710,5.966710,2648.620350,1.580742e+06,5.424730,0.492709
2014-06-25,002366,6.562888,6.562888,6.562888,6.562888,7020.366123,4.608520e+06,5.966710,0.492709
2014-06-26,002366,7.218192,7.218192,7.218192,7.218192,8258.418547,5.961495e+06,6.562888,0.492709
2014-06-27,002366,7.942475,7.942475,7.942475,7.942475,21014.417703,1.669158e+07,7.218192,0.492709
2014-06-30,002366,8.735737,8.735737,8.735737,8.735737,53581.285238,4.680805e+07,7.942475,0.492709
2014-07-01,002366,9.607832,9.607832,9.607832,9.607832,44630.775091,4.288241e+07,8.735737,0.492709
2014-07-02,002366,10.568615,10.568615,10.568615,10.568615,29835.033826,3.153315e+07,9.607832,0.492709
2014-07-07,002366,11.391440,11.627941,11.238700,11.627941,566443.487112,6.536109e+08,10.568615,0.492709
2014-07-29,002366,16.333315,17.165994,16.111596,16.821097,498356.692571,8.262157e+08,15.604105,0.492709
2015-01-16,002366,18.476600,18.821497,17.737536,17.934620,140870.069918,2.567131e+08,17.594651,0.492709
2015-04-17,002366,37.440983,37.559233,33.075578,33.504236,217540.018068,7.780365e+08,34.144758,0.492709
2015-05-04,002366,38.810715,38.810715,36.692065,38.810715,33658.789182,1.300614e+08,35.282916,0.492709
2015-05-05,002366,42.299097,42.299097,36.460492,37.002472,126145.364448,4.810610e+08,38.810715,0.492709
2015-05-06,002366,38.924038,39.416748,34.598050,35.548979,82866.299053,3.082345e+08,37.002472,0.492709
2015-06-29,002366,38.924038,38.924038,32.326660,33.504236,92395.243530,3.213145e+08,35.918511,0.492709
2015-07-06,002366,32.518817,32.518817,26.606305,31.188502,120846.094154,3.591654e+08,29.562561,0.492709
2015-07-27,002366,30.878095,30.878095,30.878095,30.878095,17584.403610,5.429854e+07,28.069651,0.492709
2015-07-28,002366,33.011526,33.967382,30.464219,33.967382,328842.960586,1.085006e+09,30.878095,0.492709
2015-08-10,002366,41.234845,41.234845,38.864913,39.761644,88124.977464,3.517920e+08,37.485327,0.492709
2016-03-21,002366,24.635467,24.635467,23.487455,23.990018,117239.505371,2.813463e+08,23.413548,0.492709
2016-07-15,002366,27.054670,28.739736,26.611232,26.680211,154632.747766,4.222947e+08,26.128377,0.492709
2016-09-19,002366,25.521305,26.384344,25.299380,25.536099,127320.392119,3.282286e+08,24.939369,0.493165
2016-10-26,002366,25.496646,25.644596,25.102114,25.151431,197290.845549,5.000689e+08,24.914711,0.493165
2017-03-29,002366,24.959096,25.896110,24.944301,25.250064,160155.224252,4.076489e+08,24.559632,0.493165
2017-04-18,002366,24.337708,24.387024,23.834679,24.096057,60067.080359,1.448264e+08,23.755773,0.493165
2017-08-02,002366,24.211038,25.179480,23.519294,23.716935,200747.689395,4.862393e+08,23.588469,0.988206

In [94]:
data_day[ind_pos].data.open

date        code
2011-06-03  002366    13.91
2011-07-01  002366    14.49
2011-10-11  002366    11.96
2011-12-01  002366    12.08
2012-10-26  002366     8.23
2014-06-23  002366    11.01
2014-06-24  002366    12.11
2014-06-25  002366    13.32
2014-06-26  002366    14.65
2014-06-27  002366    16.12
2014-06-30  002366    17.73
2014-07-01  002366    19.50
2014-07-02  002366    21.45
2014-07-07  002366    23.60
2014-07-29  002366    34.84
2015-01-16  002366    38.20
2015-04-17  002366    76.23
2015-05-04  002366    78.77
2015-05-05  002366    85.85
2015-05-06  002366    80.00
2015-06-29  002366    79.00
2015-07-06  002366    66.00
2015-07-27  002366    62.67
2015-07-28  002366    68.94
2015-08-10  002366    83.69
2016-03-21  002366    50.00
2016-07-15  002366    58.33
2016-09-19  002366    53.50
2016-10-26  002366    52.00
2017-03-29  002366    52.51
2017-04-18  002366    49.45
2017-08-02  002366    25.48
Name: high, dtype: float64

In [95]:
data_day[ind_pos].high_limit

date        code
2011-06-03  002366      NaN
2011-07-01  002366    14.71
2011-10-11  002366    15.36
2011-12-01  002366    12.80
2012-10-26  002366    13.05
2014-06-23  002366     8.67
2014-06-24  002366    12.11
2014-06-25  002366    13.32
2014-06-26  002366    14.65
2014-06-27  002366    16.12
2014-06-30  002366    17.73
2014-07-01  002366    19.50
2014-07-02  002366    21.45
2014-07-07  002366    23.60
2014-07-29  002366    25.96
2015-01-16  002366    37.55
2015-04-17  002366    40.04
2015-05-04  002366    74.80
2015-05-05  002366    86.65
2015-05-06  002366    82.61
2015-06-29  002366    79.37
2015-07-06  002366    74.80
2015-07-27  002366    69.63
2015-07-28  002366    68.94
2015-08-10  002366    75.83
2016-03-21  002366    88.77
2016-07-15  002366    53.56
2016-09-19  002366    59.57
2016-10-26  002366    56.96
2017-03-29  002366    56.10
2017-04-18  002366    56.32
2017-08-02  002366    53.75
Name: close, dtype: float64

In [102]:
data_day[ind_pos].data.open == data_day[ind_pos].high_limit

date        code
2011-06-03  002366    False
2011-07-01  002366    False
2011-10-11  002366    False
2011-12-01  002366    False
2012-10-26  002366    False
2014-06-23  002366    False
2014-06-24  002366     True
2014-06-25  002366     True
2014-06-26  002366     True
2014-06-27  002366     True
2014-06-30  002366     True
2014-07-01  002366     True
2014-07-02  002366     True
2014-07-07  002366     True
2014-07-29  002366    False
2015-01-16  002366    False
2015-04-17  002366    False
2015-05-04  002366    False
2015-05-05  002366    False
2015-05-06  002366    False
2015-06-29  002366    False
2015-07-06  002366    False
2015-07-27  002366    False
2015-07-28  002366     True
2015-08-10  002366    False
2016-03-21  002366    False
2016-07-15  002366    False
2016-09-19  002366    False
2016-10-26  002366    False
2017-03-29  002366    False
2017-04-18  002366    False
2017-08-02  002366    False
dtype: bool

In [113]:
ind_pos = (open_pre_close_diff.abs() > rolling_std) & \
(open_pre_close_diff >= 0) & \
(data_day.open < data_day.high_limit )

In [120]:
ind_neg = (open_pre_close_diff.abs() > rolling_std) & \
(open_pre_close_diff < 0) & \
(data_day.open > data_day.low_limit)

In [110]:
data_day[ind_pos].data

                    open   high    low  close    volume        amount
date       code
2011-06-03 002366  13.30  13.91  13.00  13.37   21206.0  2.867434e+07
2011-07-01 002366  14.28  14.49  13.90  13.96   26030.0  3.700164e+07
2011-10-11 002366  11.95  11.96  11.55  11.64    5699.0  6.703428e+06
2011-12-01 002366  11.88  12.08  11.72  11.86   13535.0  1.617024e+07
2012-10-26 002366   8.18   8.23   7.85   7.88   12880.0  1.033033e+07
2014-06-23 002366  11.01  11.01  11.01  11.01    1896.0  2.087958e+06
2014-07-07 002366  23.12  23.60  22.81  23.60  279092.0  6.536109e+08
2014-07-29 002366  33.15  34.84  32.70  34.14  245545.0  8.262157e+08
2015-01-16 002366  37.50  38.20  36.00  36.40   69408.0  2.567131e+08
2015-04-17 002366  75.99  76.23  67.13  68.00  107184.0  7.780365e+08
2015-05-05 002366  85.85  85.85  74.00  75.10   62153.0  4.810610e+08
2015-05-06 002366  79.00  80.00  70.22  72.15   40829.0  3.082345e+08
2015-06-29 002366  79.00  79.00  65.61  68.00   45524.0  3.213145e+08
2015-07-28 002366  67.00  68.94  61.83  68.94  162024.0  1.085006e+09
2016-03-21 002366  50.00  50.00  47.67  48.69   57765.0  2.813463e+08
2016-07-15 002366  54.91  58.33  54.01  54.15   76189.0  4.222947e+08
2016-09-19 002366  51.75  53.50  51.30  51.78   62790.0  3.282286e+08
2016-10-26 002366  51.70  52.00  50.90  51.00   97297.0  5.000689e+08
2017-03-29 002366  50.61  52.51  50.58  51.20   78983.0  4.076489e+08
2017-04-18 002366  49.35  49.45  48.33  48.86   29623.0  1.448264e+08
2017-08-02 002366  24.50  25.48  23.80  24.00  198380.0  4.862393e+08

In [42]:
data_day_qfq.data[ind_neg]

,,open,high,low,close,volume,amount,preclose,adj
date,code,,,,,,,,
2010-11-17,002366,8.849441,9.218350,8.563975,8.616676,53463.491766,4.752064e+07,9.104164,0.439178
2011-08-05,002366,6.139711,6.249506,6.051876,6.148495,61405.598209,3.770039e+07,6.407610,0.439178
2011-08-09,002366,5.524862,5.682966,5.274530,5.621481,39806.165377,2.197234e+07,5.687358,0.439178
2011-08-11,002366,5.577563,5.783977,5.533645,5.770802,29334.334090,1.673700e+07,5.709317,0.439178
2011-08-19,002366,5.709317,5.770802,5.652223,5.744451,33330.434092,1.904833e+07,5.854245,0.439178
2012-07-17,002366,3.872962,3.981198,3.774138,3.854138,14976.919164,5.742073e+06,3.981198,0.470591
2012-10-29,002366,3.623549,3.684726,3.623549,3.656490,9961.946232,3.642120e+06,3.708255,0.470591
2013-03-20,002366,3.632961,3.736491,3.632961,3.722373,22340.004423,8.237659e+06,3.764726,0.470591
2013-12-02,002366,4.350369,4.451317,4.182123,4.206158,50983.583168,2.203249e+07,4.523422,0.480704
2014-01-07,002366,4.460931,4.653212,4.460931,4.614756,34095.843321,1.564019e+07,4.566686,0.480704
2015-04-20,002366,31.193429,33.011526,30.552907,31.237773,161996.115298,5.133368e+08,33.504236,0.492709
2015-06-10,002366,49.270935,52.710046,49.024580,50.502708,63934.244935,3.258738e+08,52.710046,0.492709
2015-07-03,002366,29.799061,33.390912,29.321133,29.562561,79554.001420,2.420079e+08,32.577942,0.492709
2015-07-07,002366,28.133704,29.557634,28.069651,28.069651,37608.379374,1.057370e+08,31.188502,0.492709
2015-08-24,002366,30.794334,33.454965,30.375531,30.375531,42317.037774,1.295689e+08,33.750590,0.492709
2015-08-25,002366,27.370004,28.281516,27.340442,27.340442,44137.583715,1.212316e+08,30.375531,0.492709
2015-09-02,002366,20.841605,25.138031,20.831751,21.925566,38673.916296,8.815754e+07,22.851859,0.492709
2015-09-15,002366,22.181775,23.423402,21.432857,21.432857,32014.817930,7.019221e+07,23.812643,0.492709
2016-05-03,002366,23.674684,25.226719,23.674684,25.024708,140861.951541,3.479349e+08,24.995145,0.492709
2016-12-12,002366,26.586542,26.828193,25.452261,25.511441,54730.127468,1.417553e+08,26.852851,0.493165
2018-05-07,002366,24.220920,26.622260,24.220920,24.635967,440091.596257,1.092119e+09,26.138039,0.988206
2018-05-29,002366,17.767938,18.281804,17.758055,17.758055,166464.339415,2.960949e+08,19.734467,0.988206
2018-05-30,002366,16.305393,16.967491,16.028696,16.404214,507143.429340,8.323287e+08,17.758055,0.988206
2018-09-17,002366,8.230000,8.370000,7.950000,8.250000,285457.000000,2.335413e+08,8.820000,1.000000
2018-10-18,002366,8.000000,8.080000,7.600000,7.830000,239710.000000,1.884153e+08,8.340000,1.000000
2018-10-25,002366,8.110000,8.350000,7.980000,8.260000,213022.000000,1.739829e+08,8.470000,1.000000
2018-10-26,002366,7.880000,8.160000,7.880000,8.130000,278401.000000,2.229392e+08,8.260000,1.000000

In [121]:
((data_day_qfq.data[ind_neg].close - data_day_qfq.data[ind_neg].open) / \
(data_day_qfq.data[ind_neg].open)).sum()

0.15399421106315184

In [115]:
((data_day_qfq.data[ind_pos].open - data_day_qfq.data[ind_pos].close) / \
(data_day_qfq.data[ind_pos].close)).sum()

0.646794351442738

用atr代替std试一下

In [65]:
# plt.plot(rolling_atr.index.get_level_values(0), 
#          rolling_atr.values);

In [87]:
HIGH = data_day_qfq.high
LOW = data_day_qfq.low
CLOSE = data_day_qfq.close
rolling_atr = ta.ATR(HIGH, LOW, CLOSE, timeperiod=90).shift(1)
rolling_atr_divide_close = rolling_atr / CLOSE.shift(1)

ind_atr_pos = (open_pre_close_diff.abs() > rolling_atr_divide_close) & (open_pre_close_diff >= 0)
ind_atr_neg = (open_pre_close_diff.abs() > rolling_atr_divide_close) & (open_pre_close_diff < 0)

In [56]:
data_day_qfq.data[ind_atr_neg]

Empty DataFrame
Columns: [open, high, low, close, volume, amount, preclose, adj]
Index: []

In [88]:
((data_day_qfq.data[ind_atr_neg].close - data_day_qfq.data[ind_atr_neg].open) / \
(data_day_qfq.data[ind_atr_neg].open)).sum()

0.13816454914985343

In [89]:
((data_day_qfq.data[ind_atr_pos].close - data_day_qfq.data[ind_atr_pos].open) / \
(data_day_qfq.data[ind_atr_pos].open)).sum()

-0.53586861080350778