In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
# import tushare as ts
# import wrds
import talib as ta
import datetime, time

from scipy import stats
from dateutil.relativedelta import *
from pandas.tseries.offsets import *

In [3]:
plt.rcParams['figure.figsize'] = [12, 8]
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'
plt.style.use('ggplot')

In [4]:
crsp = pd.read_csv('data/return.zip', 
                   parse_dates=['date'], infer_datetime_format=True)

E:\ProgramData\Anaconda3\envs\quant\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
crsp.head()

,PERMNO,date,TICKER,COMNAM,PERMCO,CUSIP,PRC,RET,SHROUT,RETX
0,14403,1973-01-31,AAGIY,ANGLO AMERICAN GOLD INVT LTD,2,03487050,-27.125,0.179348,21952.0,0.179348
1,14403,1973-02-28,AAGIY,ANGLO AMERICAN GOLD INVT LTD,2,03487050,-30.625,0.157272,21952.0,0.129032
2,14403,1973-03-30,AAGIY,ANGLO AMERICAN GOLD INVT LTD,2,03487050,-35.125,0.146939,21952.0,0.146939
3,14403,1973-04-30,AAGIY,ANGLO AMERICAN GOLD INVT LTD,2,03487050,-36.500,0.039146,21952.0,0.039146
4,14403,1973-05-31,AAGIY,ANGLO AMERICAN GOLD INVT LTD,2,03487050,-42.500,0.164384,21952.0,0.164384

In [5]:
crsp[crsp.RET=='B'] # or crsp[crsp.RET=='C']

,PERMNO,date,TICKER,COMNAM,PERMCO,CUSIP,PRC,RET,SHROUT,RETX
2594,10058,1974-11-29,NaN,A B K C O INDUSTRIES INC,20,00077410,NaN,B,1470.0,B
2595,10058,1974-12-31,NaN,A B K C O INDUSTRIES INC,20,00077410,NaN,B,1470.0,B
4931,10621,1983-04-29,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4932,10621,1983-05-31,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4933,10621,1983-06-30,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4934,10621,1983-07-29,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4935,10621,1983-08-31,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4936,10621,1983-09-30,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4937,10621,1983-10-31,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4938,10621,1983-11-30,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4939,10621,1983-12-30,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4940,10621,1984-01-31,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4941,10621,1984-02-29,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4942,10621,1984-03-30,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4943,10621,1984-04-30,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4944,10621,1984-05-31,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4945,10621,1984-06-29,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4946,10621,1984-07-31,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4947,10621,1984-08-31,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4948,10621,1984-09-28,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4949,10621,1984-10-31,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4950,10621,1984-11-30,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4951,10621,1984-12-31,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4952,10621,1985-01-31,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4953,10621,1985-02-28,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4954,10621,1985-03-29,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4955,10621,1985-04-30,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4956,10621,1985-05-31,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4957,10621,1985-06-28,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
4958,10621,1985-07-31,NaN,ACCU TEST SYS INC,34,69418810,NaN,B,4249.0,B
...,...,...,...,...,...,...,...,...,...,...
2888193,89397,2008-04-30,NaN,VERINT SYSTEMS INC,43149,92343X10,NaN,B,32187.0,B
2888194,89397,2008-05-30,NaN,VERINT SYSTEMS INC,43149,92343X10,NaN,B,32187.0,B
2888195,89397,2008-06-30,NaN,VERINT SYSTEMS INC,43149,92343X10,NaN,B,32187.0,B
2888196,89397,2008-07-31,NaN,VERINT SYSTEMS INC,43149,92343X10,NaN,B,32187.0,B
2888197,89397,2008-08-29,NaN,VERINT SYSTEMS INC,43149,92343X10,NaN,B,32187.0,B
2888198,89397,2008-09-30,NaN,VERINT SYSTEMS INC,43149,92343X10,NaN,B,32187.0,B
2888199,89397,2008-10-31,NaN,VERINT SYSTEMS INC,43149,92343X10,NaN,B,32187.0,B
2888200,89397,2008-11-28,NaN,VERINT SYSTEMS INC,43149,92343X10,NaN,B,32187.0,B
2888201,89397,2008-12-31,NaN,VERINT SYSTEMS INC,43149,92343X10,NaN,B,32187.0,B
2926345,90170,2008-12-31,NaN,ORAGENICS INC,45180,68402330,NaN,B,38318.0,B
2928164,90214,2007-09-28,NaN,NEW YORK MORTGAGE TRUST INC,45287,64960450,NaN,B,18179.0,B
2928165,90214,2007-10-31,NaN,NEW YORK MORTGAGE TRUST INC,45287,64960450,NaN,B,18179.0,B
2928166,90214,2007-11-30,NaN,NEW YORK MORTGAGE TRUST INC,45287,64960450,NaN,B,18179.0,B
2928167,90214,2007-12-31,NaN,NEW YORK MORTGAGE TRUST INC,45287,64960450,NaN,B,18179.0,B
2928168,90214,2008-01-31,NaN,NEW YORK MORTGAGE TRUST INC,45287,64960450,NaN,B,18179.0,B
2928169,90214,2008-02-29,NaN,NEW YORK MORTGAGE TRUST INC,45287,64960450,NaN,B,18179.0,B
2928170,90214,2008-03-31,NaN,NEW YORK MORTGAGE TRUST INC,45287,64960450,NaN,B,18179.0,B
2928171,90214,2008-04-30,NaN,NEW YORK MORTGAGE TRUST INC,45287,64960450,NaN,B,18179.0,B
2928172,90214,2008-05-30,NaN,NEW YORK MORTGAGE TRUST INC,45287,64960450,NaN,B,18179.0,B
2939087,90498,2008-07-31,NaN,FELDMAN MALL PROPERTIES INC,46018,89255N20,NaN,B,13019.0,B
2939088,90498,2008-08-29,NaN,FELDMAN MALL PROPERTIES INC,46018,89255N20,NaN,B,13019.0,B
2939089,90498,2008-09-30,NaN,FELDMAN MALL PROPERTIES INC,46018,89255N20,NaN,B,13019.0,B
2939090,90498,2008-10-31,NaN,FELDMAN MALL PROPERTIES INC,46018,89255N20,NaN,B,13019.0,B
2939091,90498,2008-11-28,NaN,FELDMAN MALL PROPERTIES INC,46018,89255N20,NaN,B,13019.0,B
2939092,90498,2008-12-31,NaN,FELDMAN MALL PROPERTIES INC,46018,89255N20,NaN,B,13019.0,B
2943812,90643,2008-11-28,NaN,ACCURIDE CORP,46538,00439T20,NaN,B,35726.0,B
2943813,90643,2008-12-31,NaN,ACCURIDE CORP,46538,00439T20,NaN,B,35726.0,B
2954072,90954,2008-10-31,NaN,MATHSTAR INC,47882,79379T20,NaN,B,9181.0,B
2954073,90954,2008-11-28,NaN,MATHSTAR INC,47882,79379T20,NaN,B,9181.0,B
2954074,90954,2008-12-31,NaN,MATHSTAR INC,47882,79379T20,NaN,B,9181.0,B

In [6]:
crsp = pd.read_csv('data/return.zip', 
                   parse_dates=['date'], infer_datetime_format=True)
crsp[['PERMNO', 'PERMCO']] = crsp[['PERMNO', 'PERMCO']].astype(int)
crsp_name = pd.read_csv('data/crsp_name.csv', 
                   parse_dates=['namedt','nameendt'], infer_datetime_format=True)
crsp_name = crsp_name.drop('Unnamed: 0', axis=1)
crsp_name[['permno', 'shrcd', 'exchcd']] = \
crsp_name[['permno', 'shrcd', 'exchcd']].astype(int)

crsp_name['namedt'] = pd.to_datetime(crsp_name['namedt'])
crsp_name['nameendt'] = pd.to_datetime(crsp_name['nameendt'])
# if nameendt is missing then set to today date
crsp_name['nameendt'] = crsp_name['nameendt'].fillna(pd.to_datetime('today'))
crsp_merge = pd.merge(crsp, crsp_name, 'inner', left_on='PERMNO', right_on='permno')
crsp_merge = crsp_merge[(crsp_merge.date <= crsp_merge.nameendt) &
                       (crsp_merge.date >= crsp_merge.namedt)]
crsp_merge.RET = crsp_merge.RET.replace(['B', 'C'], [np.nan, np.nan]).astype(np.float64)
crsp_merge.RETX = crsp_merge.RETX.replace(['B', 'C'], [np.nan, np.nan]).astype(np.float64)

crsp_merge.RET = crsp_merge.RET.fillna(0)
crsp_merge.RETX = crsp_merge.RETX.fillna(0)

crsp_merge = crsp_merge.drop(['permno', 'namedt', 'nameendt'], axis=1)

crsp_merge.columns = [i.lower() for i in crsp_merge.columns]

E:\ProgramData\Anaconda3\envs\quant\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
crsp_merge = crsp_merge[['permno', 'date', 'ticker', 'comnam',  
                         'prc', 'ret', 'shrout', 'retx']]

### calculate the mv, ret+1, retx+1

In [8]:
# calculate the mv, ret+1, retx+1
crsp1 = crsp_merge.assign(mv = crsp_merge.prc.abs() * crsp_merge.shrout,
                         ret_p1 = crsp_merge.ret+1,
                         retx_p1 = crsp_merge.retx+1)

In [9]:
# resample : use calendar year
def normal_resample(df):
    res = df.resample('Y').apply({'ret_p1':'cumprod', 'retx_p1':'cumprod'})
    res = pd.concat([res, df.mv], axis=1)
    res = res.resample('Y').last()
    return res

In [23]:
crsp1[crsp1.ticker=='AMER']

,permno,date,ticker,comnam,prc,ret,shrout,retx,mv,ret_p1,retx_p1
4815915,85316,1985-04-30,AMER,AMERICA FIRST FED GTD MTG FD,-20.1250,0.000000,9178.0,0.000000,184707.250,1.000000,1.000000
4815916,85316,1985-05-31,AMER,AMERICA FIRST FED GTD MTG FD,-20.8750,0.044373,9178.0,0.037267,191590.750,1.044373,1.037267
4815917,85316,1985-06-28,AMER,AMERICA FIRST FED GTD MTG FD,-20.3750,-0.016795,9178.0,-0.023952,187001.750,0.983205,0.976048
4815918,85316,1985-07-31,AMER,AMERICA FIRST FED GTD MTG FD,-20.3750,0.023558,9178.0,0.000000,187001.750,1.023558,1.000000
4815919,85316,1985-08-30,AMER,AMERICA FIRST FED GTD MTG FD,-20.1250,-0.004947,9178.0,-0.012270,184707.250,0.995053,0.987730
4815920,85316,1985-09-30,AMER,AMERICA FIRST FED GTD MTG FD,19.7500,-0.011031,9178.0,-0.018634,181265.500,0.988969,0.981366
4815921,85316,1985-10-31,AMER,AMERICA FIRST FED GTD MTG FD,18.2500,-0.068441,9178.0,-0.075949,167498.500,0.931559,0.924051
4815922,85316,1985-11-29,AMER,AMERICA FIRST FED GTD MTG FD,18.6250,0.028285,9178.0,0.020548,170940.250,1.028285,1.020548
4815923,85316,1985-12-31,AMER,AMERICA FIRST FED GTD MTG FD,19.1250,0.034647,9178.0,0.026846,175529.250,1.034647,1.026846
4815924,85316,1986-01-31,AMER,AMERICA FIRST FED GTD MTG FD,19.0000,0.014395,9178.0,0.014395,174382.000,1.014395,1.014395
4815925,85316,1986-02-28,AMER,AMERICA FIRST FED GTD MTG FD,19.7500,0.047105,9178.0,0.047105,181265.500,1.047105,1.047105
4815926,85316,1986-03-31,AMER,AMERICA FIRST FED GTD MTG FD,17.7500,0.056005,9178.0,-0.082041,162909.500,1.056005,0.917959
4815927,85316,1986-04-30,AMER,AMERICA FIRST FED GTD MTG FD,5.2500,-0.020704,9178.0,-0.020704,48184.500,0.979296,0.979296
4815928,85316,1986-05-30,AMER,AMERICA FIRST FED GTD MTG FD,3.5000,-0.167029,9178.0,-0.167029,32123.000,0.832971,0.832971
4815929,85316,1986-06-30,AMER,AMERICA FIRST FED GTD MTG FD,3.2500,-0.062829,9178.0,-0.062829,29828.500,0.937171,0.937171
4815930,85316,1986-07-31,AMER,AMERICA FIRST FED GTD MTG FD,2.6250,0.053846,9178.0,0.053846,24092.250,1.053846,1.053846
4815931,85316,1986-08-29,AMER,AMERICA FIRST FED GTD MTG FD,3.1250,0.199848,9178.0,0.199848,28681.250,1.199848,1.199848
4815932,85316,1986-09-30,AMER,AMERICA FIRST FED GTD MTG FD,3.0625,-0.012672,9178.0,-0.012672,28107.625,0.987328,0.987328
6641064,77418,1992-03-31,AMER,AMERICA ONLINE INC DEL,15.2500,0.000000,5467.0,0.000000,83371.750,1.000000,1.000000
6641073,77418,1992-04-30,AMER,AMERICA ONLINE INC DEL,11.7500,-0.229508,5467.0,-0.229508,64237.250,0.770492,0.770492
6641082,77418,1992-05-29,AMER,AMERICA ONLINE INC DEL,12.5000,0.063830,5467.0,0.063830,68337.500,1.063830,1.063830
6641091,77418,1992-06-30,AMER,AMERICA ONLINE INC DEL,13.5000,0.080000,5481.0,0.080000,73993.500,1.080000,1.080000
6641100,77418,1992-07-31,AMER,AMERICA ONLINE INC DEL,14.1250,0.046296,5481.0,0.046296,77419.125,1.046296,1.046296
6641109,77418,1992-08-31,AMER,AMERICA ONLINE INC DEL,13.5000,-0.044248,5481.0,-0.044248,73993.500,0.955752,0.955752
6641118,77418,1992-09-30,AMER,AMERICA ONLINE INC DEL,15.0000,0.111111,5572.0,0.111111,83580.000,1.111111,1.111111
6641127,77418,1992-10-30,AMER,AMERICA ONLINE INC DEL,16.7500,0.116667,5572.0,0.116667,93331.000,1.116667,1.116667
6641136,77418,1992-11-30,AMER,AMERICA ONLINE INC DEL,19.7500,0.179104,5572.0,0.179104,110047.000,1.179104,1.179104
6641145,77418,1992-12-31,AMER,AMERICA ONLINE INC DEL,29.2500,0.481013,5737.0,0.481013,167807.250,1.481013,1.481013
6641154,77418,1993-01-29,AMER,AMERICA ONLINE INC DEL,28.7500,-0.017094,5737.0,-0.017094,164938.750,0.982906,0.982906
6641163,77418,1993-02-26,AMER,AMERICA ONLINE INC DEL,24.7500,-0.139130,5737.0,-0.139130,141990.750,0.860870,0.860870
...,...,...,...,...,...,...,...,...,...,...,...
6641280,77418,1994-03-31,AMER,AMERICA ONLINE INC DEL,72.0000,-0.137725,7202.0,-0.137725,518544.000,0.862275,0.862275
6641289,77418,1994-04-29,AMER,AMERICA ONLINE INC DEL,71.0000,-0.013889,7202.0,-0.013889,511342.000,0.986111,0.986111
6641298,77418,1994-05-31,AMER,AMERICA ONLINE INC DEL,70.0000,-0.014085,7202.0,-0.014085,504140.000,0.985915,0.985915
6641307,77418,1994-06-30,AMER,AMERICA ONLINE INC DEL,57.0000,-0.185714,7245.0,-0.185714,412965.000,0.814286,0.814286
6641316,77418,1994-07-29,AMER,AMERICA ONLINE INC DEL,55.6250,-0.024123,7245.0,-0.024123,403003.125,0.975877,0.975877
6641325,77418,1994-08-31,AMER,AMERICA ONLINE INC DEL,74.5000,0.339326,7245.0,0.339326,539752.500,1.339326,1.339326
6641334,77418,1994-09-30,AMER,AMERICA ONLINE INC DEL,68.3750,-0.082215,7707.0,-0.082215,526966.125,0.917785,0.917785
6641343,77418,1994-10-31,AMER,AMERICA ONLINE INC DEL,70.7500,0.034735,7707.0,0.034735,545270.250,1.034735,1.034735
6641352,77418,1994-11-30,AMER,AMERICA ONLINE INC DEL,41.7500,0.180212,15414.0,0.180212,643534.500,1.180212,1.180212
6641361,77418,1994-12-30,AMER,AMERICA ONLINE INC DEL,56.0000,0.341317,16592.0,0.341317,929152.000,1.341317,1.341317
6641370,77418,1995-01-31,AMER,AMERICA ONLINE INC DEL,54.5000,-0.026786,16592.0,-0.026786,904264.000,0.973214,0.973214
6641379,77418,1995-02-28,AMER,AMERICA ONLINE INC DEL,71.0000,0.302752,16592.0,0.302752,1178032.000,1.302752,1.302752
6641388,77418,1995-03-31,AMER,AMERICA ONLINE INC DEL,74.2500,0.045775,16592.0,0.045775,1231956.000,1.045775,1.045775
6641397,77418,1995-04-28,AMER,AMERICA ONLINE INC DEL,46.3750,0.249158,33184.0,0.249158,1538908.000,1.249158,1.249158
6641406,77418,1995-05-31,AMER,AMERICA ONLINE INC DEL,35.6250,-0.231806,33184.0,-0.231806,1182180.000,0.768194,0.768194
6641415,77418,1995-06-30,AMER,AMERICA ONLINE INC DEL,44.0000,0.235088,37555.0,0.235088,1652420.000,1.235088,1.235088
6641424,77418,1995-07-31,AMER,AMERICA ONLINE INC DEL,55.1250,0.252841,37555.0,0.252841,2070219.375,1.252841,1.252841
6641433,77418,1995-08-31,AMER,AMERICA ONLINE INC DEL,65.8750,0.195011,37555.0,0.195011,2473935.625,1.195011,1.195011
6641442,77418,1995-09-29,AMER,AMERICA ONLINE INC DEL,68.7500,0.043643,38055.0,0.043643,2616281.250,1.043643,1.043643
6641451,77418,1995-10-31,AMER,AMERICA ONLINE INC DEL,80.0000,0.163636,38055.0,0.163636,3044400.000,1.163636,1.163636
6641460,77418,1995-11-30,AMER,AMERICA ONLINE INC DEL,40.8750,0.021875,76110.0,0.021875,3110996.250,1.021875,1.021875
6641469,77418,1995-12-29,AMER,AMERICA ONLINE INC DEL,37.5000,-0.082569,86563.0,-0.082569,3246112.500,0.917431,0.917431
6641478,77418,1996-01-31,AMER,AMERICA ONLINE INC DEL,44.7500,0.193333,86563.0,0.193333,3873694.250,1.193333,1.193333
6641487,77418,1996-02-29,AMER,AMERICA ONLINE INC DEL,49.1250,0.097765,86563.0,0.097765,4252407.375,1.097765,1.097765
6641496,77418,1996-03-29,AMER,AMERICA ONLINE INC DEL,56.0000,0.139949,89946.0,0.139949,5036976.000,1.139949,1.139949
6641505,77418,1996-04-30,AMER,AMERICA ONLINE INC DEL,64.0000,0.142857,89946.0,0.142857,5756544.000,1.142857,1.142857
6641514,77418,1996-05-31,AMER,AMERICA ONLINE INC DEL,56.5000,-0.117188,89946.0,-0.117188,5081949.000,0.882812,0.882812
6641523,77418,1996-06-28,AMER,AMERICA ONLINE INC DEL,43.7500,-0.225664,89946.0,-0.225664,3935137.500,0.774336,0.774336
6641532,77418,1996-07-31,AMER,AMERICA ONLINE INC DEL,30.5000,-0.302857,89946.0,-0.302857,2743353.000,0.697143,0.697143
6641541,77418,1996-08-30,AMER,AMERICA ONLINE INC DEL,30.2500,-0.008197,89946.0,-0.008197,2720866.500,0.991803,0.991803

In [24]:
crsp1[crsp1.ticker=='AMER'].comnam.value_counts()

AMERICA ONLINE INC DEL          54
AMERICA FIRST FED GTD MTG FD    18
Name: comnam, dtype: int64

In [16]:
test = crsp1[crsp1.permno==77418].set_index('date')

In [18]:
test.head()

,permno,ticker,comnam,prc,ret,shrout,retx,mv,ret_p1,retx_p1
date,,,,,,,,,,
1992-03-31,77418,AMER,AMERICA ONLINE INC DEL,15.250,0.000000,5467.0,0.000000,83371.750,1.000000,1.000000
1992-04-30,77418,AMER,AMERICA ONLINE INC DEL,11.750,-0.229508,5467.0,-0.229508,64237.250,0.770492,0.770492
1992-05-29,77418,AMER,AMERICA ONLINE INC DEL,12.500,0.063830,5467.0,0.063830,68337.500,1.063830,1.063830
1992-06-30,77418,AMER,AMERICA ONLINE INC DEL,13.500,0.080000,5481.0,0.080000,73993.500,1.080000,1.080000
1992-07-31,77418,AMER,AMERICA ONLINE INC DEL,14.125,0.046296,5481.0,0.046296,77419.125,1.046296,1.046296

In [17]:
normal_resample(test)

              ret_p1   retx_p1            mv
date
1992-12-31  1.918033  1.918033  1.678072e+05
1993-12-31  2.000764  2.000001  4.111965e+05
1994-12-31  1.914528  1.914528  9.291520e+05
1995-12-31  2.678568  2.678568  3.246112e+06
1996-12-31  0.886665  0.886665  3.104486e+06
1997-12-31  2.721810  2.721810  9.313355e+06
1998-12-31  6.934765  6.934712  7.106990e+07
1999-12-31  1.956485  1.956485  1.696175e+08
2000-12-31  0.458649  0.458649  8.087910e+07
2001-12-31  0.922413  0.922413  1.365999e+08
2002-12-31  0.408099  0.408099  5.631639e+07
2003-12-31  1.373283  1.373283  7.826657e+07
2004-12-31  1.081156  1.081156  8.575871e+07
2005-12-31  0.901661  0.896659  7.979437e+07
2006-12-31  1.263697  1.248854  8.652264e+07
2007-12-31  0.767318  0.758034  5.967698e+07
2008-12-31  0.620778  0.609328  3.608984e+07

In [15]:
crsp1[crsp1.permno==77418].set_index('date').\
resample('Y').apply({'ret_p1':'cumprod', 'retx_p1':'cumprod'}).resample('Y').last()

              ret_p1   retx_p1
date
1992-12-31  1.918033  1.918033
1993-12-31  2.000764  2.000001
1994-12-31  1.914528  1.914528
1995-12-31  2.678568  2.678568
1996-12-31  0.886665  0.886665
1997-12-31  2.721810  2.721810
1998-12-31  6.934765  6.934712
1999-12-31  1.956485  1.956485
2000-12-31  0.458649  0.458649
2001-12-31  0.922413  0.922413
2002-12-31  0.408099  0.408099
2003-12-31  1.373283  1.373283
2004-12-31  1.081156  1.081156
2005-12-31  0.901661  0.896659
2006-12-31  1.263697  1.248854
2007-12-31  0.767318  0.758034
2008-12-31  0.620778  0.609328

In [15]:
# 验证normal_resample是否能正常运作
test_code_list = crsp1.permno.unique().tolist()[-5:]
test_data = crsp1.set_index('permno').iloc[test_code_list]
test_data = test_data.reset_index().set_index('date')
test_data.groupby('permno').apply(normal_resample)

                     ret_p1   retx_p1          mv
permno date
10234  1974-12-31  1.000000  1.000000         NaN
17778  1981-12-31  1.119318  1.119318  485605.000
19271  2000-12-31  1.072917  1.072917  137801.125

In [8]:
tic = time.perf_counter()
crsp2 = crsp1.set_index('date').groupby('permno').apply(normal_resample)
toc = time.perf_counter()
print(toc-tic)

199.2612253

In [17]:
crsp2.head()

                     ret_p1   retx_p1          mv
permno date
10000  1986-12-31  0.117857  0.117857  1981.56609
       1987-12-31  0.424243  0.424243   851.59375
10001  1986-12-31  1.217369  1.142857  6937.00000
       1987-12-31  0.898725  0.839285  5828.00000
       1988-12-31  1.163160  1.085106  6362.25000

example : America Online

In [24]:
code = 77418 # America Online的permno
sample_data = crsp2.loc[(code, slice(None))]

In [29]:
# calculate the EXF
sample_data = sample_data.assign(
    exf = sample_data.mv - sample_data.mv.shift(1) * sample_data.retx_p1
)

In [30]:
sample_data

              ret_p1   retx_p1            mv           exf
date
1992-12-31  1.918033  1.918033  1.678072e+05           NaN
1993-12-31  2.000764  2.000001  4.111965e+05  7.558184e+04
1994-12-31  1.914528  1.914528  9.291520e+05  1.419047e+05
1995-12-31  2.678568  2.678568  3.246112e+06  7.573156e+05
1996-12-31  0.886665  0.886665  3.104486e+06  2.262706e+05
1997-12-31  2.721810  2.721810  9.313355e+06  8.635347e+05
1998-12-31  6.934765  6.934712  7.106990e+07  6.484468e+06
1999-12-31  1.956485  1.956485  1.696175e+08  3.057033e+07
2000-12-31  0.458649  0.458649  8.087910e+07  3.084190e+06
2001-12-31  0.922413  0.922413  1.365999e+08  6.199592e+07
2002-12-31  0.408099  0.408099  5.631639e+07  5.700648e+05
2003-12-31  1.373283  1.373283  7.826657e+07  9.282606e+05
2004-12-31  1.081156  1.081156  8.575871e+07  1.140300e+06
2005-12-31  0.901661  0.896659  7.979437e+07  2.898036e+06
2006-12-31  1.263697  1.248854  8.652264e+07 -1.312886e+07
2007-12-31  0.767318  0.758034  5.967698e+07 -5.910087e+06
2008-12-31  0.620778  0.609328  3.608984e+07 -2.730212e+05

In [36]:
mv_2000 = sample_data['2000'].mv.iloc[0]
mv_2001 = sample_data['2001'].mv.iloc[0]
rx_2001 = sample_data['2001'].retx_p1.iloc[0] - 1
exf_2001 = sample_data['2001'].exf.iloc[0]
print(mv_2000, mv_2001, rx_2001, exf_2001)

80879097.6 136599880.8 -0.0775866884424 61995924.547

通过上表,我们可以观察到$MV_{2000}$为80879, $MV_{2001}$为136600(四舍五入),

$rx_{2001}$为-7.76%, $EXF_{2001}$为61996.

为了方便计算$WRT_{t+1, t+T}$, 我们需要对normal_resample函数进行改造

In [15]:
def normal_resample_t(df, period):
    if type(period) is int:
        period = str(period)
#     res = df.rolling(int(period)).apply({'ret_p1':'cumprod', 'retx_p1':'cumprod'})
    ret_rolling = df.ret_p1.rolling(int(period), min_periods=1).\
    apply(pd.Series.cumprod, raw=False)
    retx_rolling = df.retx_p1.rolling(int(period), min_periods=1).\
    apply(pd.Series.cumprod, raw=False)
#     res = pd.concat([ret_rolling, retx_rolling, df.mv], axis=1)
    res = pd.DataFrame({'ret_rolling':ret_rolling,
                       'retx_rolling':retx_rolling,})
#                        'mv':df.mv})
#     res = res.resample(period+'Y').last()
    return res

In [19]:
test_code_list = crsp1.permno.unique().tolist()[:5]
test_data = crsp2.reset_index().set_index('permno').iloc[test_code_list]
test_data = test_data.reset_index().set_index('date')
test_data.groupby('permno').apply(normal_resample_t, period=5)

            ret_rolling  retx_rolling
date
2005-12-31     1.009105      1.009105
1992-12-31     1.400000      1.400000
1983-12-31     1.671619      1.641789
1991-12-31     0.933669      0.900000
1978-12-31     8.599386      8.432429

In [58]:
tic = time.perf_counter()
crsp3 = crsp2.reset_index().set_index('date')
crsp3 = crsp3.groupby('permno').apply(normal_resample_t, period=5)
toc = time.perf_counter()
print(toc-tic)

TypeError: cannot convert the series to <class 'float'>

In [48]:
crsp3.head()

              ret_p1   retx_p1          mv
date
1986-12-31  0.117857  0.117857  1981.56609
1987-12-31  0.424243  0.424243   851.59375
1986-12-31  1.217369  1.142857  6937.00000
1987-12-31  0.898725  0.839285  5828.00000
1988-12-31  1.045361  0.910713  6362.25000

In [47]:
crsp3.loc[(code, slice(None))]

TypeError: cannot do index indexing on <class 'pandas.core.indexes.datetimes.DatetimeIndex'> with these indexers [77418] of <class 'int'>

我想应该这么处理,